@import url('loader.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Pacifico&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

:root {
  --primary-color: hsl(226, 97%, 45%);
  --first-color: hsl(226, 97%, 35%);
  --first-color-alt: hsl(226, 20%, 97%);
  --dark-color: hsl(0, 0%, 13%);
  --light-dark-color: hsl(0, 0%, 30%);
  --white-color: hsl(0, 0%, 100%);
  --gap: 20px;

  /* Typography */
  --font-family: 'Montserrat', sans-serif;
  --light-font-weight: 400;
  --regular-font-weight: 500;
  --bold-font-weight: 700;
  --small-font-size: 0.5rem;
  --normal-font-size: 1rem;
  --semi-big-font-size: 1.25rem;
  --big-font-size: 1.5rem;
  --large-font-size: 1.75rem;
  --extra-large-font-size: 2.5rem;
}

body {
  color: var(--dark-color);
  background: var(--first-color-alt);
}

/* Utitlities */
ul {
  list-style: none;
}

a {
  color: var(--dark-color);
  text-decoration: none;
}

.container {
  width: 90vw;
  margin: auto;
}

/* Navbar Component */

header {
  background: var(--white-color);
  height: 60px;
  display: grid;
}

nav {
  position: relative;
}

.title {
  font-family: 'Pacifico', cursive;
  font-size: var(--large-font-size);
}

nav,
.sub-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sub-nav {
  gap: calc(var(--gap) / 2);
}

nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap);
  /* width: 70vw; */
  margin: 2rem auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: var(--white-color);
  border-radius: 2rem;
  padding: 3rem 2rem;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);
  /* Hide Ul on small devices */
  visibility: hidden;
}

nav ul li {
  margin: 1rem 0;
}

nav ul li a {
  margin: 2rem 0;
  padding: 1rem 0;
  opacity: 0.6;
  color: var(--light-dark-color);
}

nav ul li a:hover {
  opacity: 1;
  font-size: 17px;
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  opacity: 0.3;
  font-size: var(--semi-big-font-size);
  cursor: pointer;
  padding: 5px;
}

.close-btn:hover {
  color: var(--primary-color);
}

.btn-bars {
  padding: 10px;
}

.visible {
  visibility: visible;
}

/* Hero Section */
.products {
  margin: 1rem auto;
}

.product {
  padding: var(--gap);
}
