@import url('loader.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Pacifico&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

:root {
  --primary-color: hsl(226, 97%, 45%);
  --first-color: hsl(209, 100%, 52%);
  --first-color-alt: hsl(226, 20%, 97%);
  --dark-color: hsl(0, 0%, 13%);
  --light-dark-color: hsl(0, 0%, 30%);
  --white-color: hsl(0, 0%, 100%);
  --text-white-color: hsl(0, 0%, 100%);

  --box-shadow: 0 1em 1em rgba(0, 0, 0, 0.1);
  --box-shadow-second: 0 0 0.5em rgba(10, 137, 255, 0.2);
  --gap: 20px;

  /* Typography */
  --font-family: 'Montserrat', sans-serif;
  --light-font-weight: 400;
  --regular-font-weight: 500;
  --bold-font-weight: 700;
  --smaller-font-size: 0.5rem;
  --small-font-size: 0.85rem;
  --normal-font-size: 1rem;
  --semi-big-font-size: 1.25rem;
  --big-font-size: 1.5rem;
  --large-font-size: 1.75rem;
  --extra-large-font-size: 2.5rem;
}

body {
  color: var(--dark-color);
  background: var(--first-color-alt);
}

/* Utitlities */
ul {
  list-style: none;
}

a {
  color: var(--dark-color);
  text-decoration: none;
}

button {
  border: none;
  outline: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.container {
  width: 90vw;
  margin: auto;
}

/* Navbar Component */

header {
  background: var(--white-color);
  height: 70px;
  display: grid;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: var(--box-shadow);
}

nav {
  position: relative;
}

.title {
  font-size: var(--big-font-size);
  font-weight: var(--bold-font-weight);
}

nav,
.sub-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sub-nav {
  gap: calc(var(--gap) / 2);
}

nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 4rem auto;
  background: var(--first-color);
  color: var(--text-white-color);
  border-radius: 2rem;
  padding: 3rem 2rem;
  visibility: hidden;
}

nav ul li {
  margin: 1rem 0;
}

nav ul li a {
  margin: 2rem 0;
  padding: 1rem 0;
  opacity: 0.8;
  color: var(--text-white-color);
  font-weight: bold;
}

nav ul li a:hover {
  opacity: 1;
  font-size: 17px;
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  opacity: 0.3;
  font-size: var(--semi-big-font-size);
  cursor: pointer;
  padding: 5px;
}

.close-btn:hover {
  color: var(--primary-color);
}

.btn-bars {
  padding: 10px;
}

.cart-icon span {
  position: absolute;
  top: -5px;
  right: 45px;
  z-index: 10;
  background: var(--first-color);
  color: var(--text-white-color);
  padding: 3px 7px;
  font-size: var(--normal-font-size);
  border-radius: 0.3rem;
}

.cart-icon,
.btn-bars {
  font-size: var(--big-font-size);
}

.visible {
  visibility: visible;
}

/* Hero Component */

.products {
  display: flex;
  flex-wrap: wrap;
  margin: 7rem auto;
}

.products > * {
  flex: 1 1 20em;
}

.product {
  margin: 2rem 1rem;
  padding: 2em;
  gap: var(--gap);
  background: var(--white-color);
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product .add-btn {
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  font-weight: var(--bold-font-weight);
  color: var(--text-white-color);
  background: var(--first-color);
}

.product .add-btn.disabled {
  opacity: 0.6;
}

.product-category p {
  text-transform: uppercase;
  font-size: var(--small-font-size);
  font-weight: bold;
  color: var(--first-color);
}

.product-image-container {
  width: 70%;
  height: 270px;
  margin: 1rem auto;
}
.product-information {
  cursor: pointer;
}

.product-title {
  font-size: var(--large-font-size);
  font-weight: var(--bold-font-weight);
  padding: 1rem 0;
}

.product-price {
  width: 100%;
  padding: 0.8rem;
  margin-top: 2rem;
  border: 0.5px var(--first-color) solid;
  border-radius: 1rem;
  text-align: center;
  font-weight: bold;
}

/* CartContainer Component */

.cart-container {
  position: relative;
}

.cart-envelope {
  position: fixed;
  top: 0;
  z-index: 20;
  padding: 2rem;
  background-color: var(--first-color-alt);
}
